<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
  <div
    style="text-align:center; font-weight:bolder; font-size:30px; height:60px;color: beige; background-color: rgb(25, 65, 138);">
    Bienvenue
  </div>
  <div class="row col-12 ml-2 mr-2" style="text-align:center; font-weight:bolder; font-size:30px; margin-left:90px; ">
    <div
      style="height:150px; width:250px;margin-top: 60px; margin-left:180px;border-radius: 50% 20% / 10% 40%; background-color: rgb(25, 65, 138);">
      <a href="magasin/" class="nav-link" style="color: white;">
        <img src="/static/images/imgg.jpg" width="100px" alt="store"> Magasin</a>
    </div>

    <div
      style="height:150px; width:250px;margin-top: 60px; margin-left:180px;border-radius: 50% 20% / 10% 40%; background-color: rgb(25, 65, 138);">
      <a href="magasin/" class="nav-link" style="color: white;">
        <img src="/static/images/imgg.jpg" width="100px" alt="store"> App 1</a>
    </div>
    <div
      style="height:150px; width:250px;margin-top: 60px; margin-left:180px;border-radius: 50% 20% / 10% 40%; background-color: rgb(25, 65, 138);">
      <a href="magasin/" class="nav-link" style="color: white;">
        <img src="/static/images/imgg.jpg" width="100px" alt="store"> App 2 </a>
    </div>
    <div
      style="height:150px; width:250px;margin-top: 60px; margin-left:180px;border-radius: 50% 20% / 10% 40%; background-color: rgb(25, 65, 138);">
      <a href="magasin/" class="nav-link" style="color: white;">
        <img src="/static/images/imgg.jpg" width="100px" alt="store"> App 3</a>
    </div>
    <div
      style="height:150px; width:250px;margin-top: 60px; margin-left:180px;border-radius: 50% 20% / 10% 40%; background-color: rgb(25, 65, 138);">
      <a href="magasin/" class="nav-link" style="color: white;">
        <img src="/static/images/imgg.jpg" width="100px" alt="store"> App 4</a>
    </div>
    <div
      style="height:150px; width:250px;margin-top: 60px; margin-left:180px;border-radius: 50% 20% / 10% 40%; background-color: rgb(25, 65, 138);">
      <a href="magasin/" class="nav-link" style="color: white;">
        <img src="/static/images/imgg.jpg" width="100px" alt="store"> App 5</a>
    </div>
  </div>
</body>

</html>